<div class="row">
    <div class="col-md-12">
        <form asp-action="UploadCallOffItemsExcel" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label>Upload File</label>
                <input id="file" name="file" class="form-control" type="file" />
            </div>
            <button type="submit" class="btn btn-success mt-2">Upload</button>
        </form>
    </div>
</div>